#nav {
	background-color: #212121;
  padding: 0;
  width: 100%;
}

.navbar-brand {
	margin-left: 0.3rem;
  max-width: 7rem;
  padding: 0;
}

/* .img-responsive{
  width: 4rem;
} */
#logoImg {
	width: 4.3rem;
	margin: 0.1rem;
}

.search {
	float: right;
	width: 15%;
	margin-right: 1rem;
}

#navbarSupportedContent {
	float: right;
}

.main {
	padding: 0px 10px;
}

#innerNav {
	margin-top: 2rem;
	overflow: hidden;
	padding-left: 0;
	margin-bottom: 0;
	width: 100%;
	text-align: center;
}

#innerNav li {
	display: inline;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

.navbar-brand {
	margin-left: 0.3rem;
	font-size: 1.75rem;
}

.tabcontent {
	padding: 6px 12px;
	border-top: none;
	margin: 0 3.5rem;
}

.hide {
	display: none;
}

.active {
	text-decoration: underline;
}

a {
	color: white;
}

a:hover {
	color: red;
}

hr {
	width: 85%;
}

.input-group {
	width: 55%;
	margin: auto;
}

.category-title {
	padding: 1.5rem 0;
}

.story {
	background-color: #808080;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	display: inline-block;
	margin: 0 15px;
}

#stories {
	margin: 0 2rem;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

body {
  -webkit-transform: translate3d(0, 0, 0);
}

.project {
	height: 20rem;
	background-color: #808080;
	display: inline-block;
	margin-right: 1rem;
	position: absolute;
}

.project-hover {
	display: inline-block;
	height: 20rem;
	width: 49%;
}

#projectOwner {
	color: red;
	z-index: 1;
	position: relative;
}
#projectTemplate {
	display: none;
}

.text {
	opacity: 0;
	z-index: 1;
}

.project-hover:hover > .project {
	opacity: 0.3;
}

.project:hover + .text {
	opacity: 1;
}

.project .text:hover {
	opacity: 0.3;
}

.text:hover {
	opacity: 1;
}

#projectOwner:hover {
	text-decoration: underline;
}

#likeButton:hover {
	color: red;
}

#likeButton {
	z-index: 1;
	position: relative;
}

.hidden {
	display: none;
}

.fas .fa-heart {
	color: red;
}