html{
  width: 100%;
  height: 100%;
}

#nav {
  background-color: #212121;
  padding: 0;
  width: 100%;
}

.navbar-brand {
  margin-left: 0.3rem;
  font-size: 2.5rem;
  color: white;
  max-width: 7rem;
  padding: 0;
}

#newUser:hover{
  font-style: underline;
}
/* .in{
  padding: 15px;
  text-align: center;
}
.lg{
  margin-bottom: 20px;
} */
/* hr{
  border: none;
  height: 2px;
  color: #333;
  background-color: #333;
} */
#login-title{
  /*    background:rgba(114, 114, 114, .65);*/
  background: #386F9A;
  height: 11rem;
  text-align: center;
  margin-bottom: 2rem;
}

#login {
  margin: 2rem;
  width: 10rem;
}

#logintext{
  color: white;
  /* font-family: 'Roboto Condensed', sans-serif; */
  color: #727272;
}


.container{
  text-align: center;
}


/*
.input-group .form-control {
  width: 50%;
} */
