*{
	font-family: Lato;
}

#nav {
	background-color: #212121;
  padding: 0;
  width: 100%;
}

.navbar-brand {
	margin-left: 0.5rem;
  max-width: 5rem;
  padding: 0;
}

#logoImg{
	width: 4.5rem;
	margin: 0.1rem;
}

#navcontainer {
	background-color: #212121;
	position: fixed;
	padding: 0;
	z-index: 1;
}

body {
	box-sizing: content-box;
}

#createProject{
	margin-top: 1rem;
	margin-bottom: 1em;
	width: 600px;
	height: 60px;
	position: relative;
	background-color: #E9E9E9;
	border: none;
	color: black;
	font-weight: bold;
	box-shadow: 0px 2px 20px #E6E6E6;

	/* margin-right: 0.2rem; */
	/* margin-bottom: 0.5rem; */

}


#createProject:hover {
	background-color: white;
}

.search {
	float: right;
	width: 15%;
	margin-right: 1rem;
}

/* #navbarSupportedContent {
	float: right;
} */

.main {
    padding: 0px 10px;
}

.navbar-brand {
	margin-left: 0.3rem;
	font-size: 1.75rem;
}

.tabcontent {
    padding: 6px 12px;
    border-top: none;
    margin: 0 3.5rem;
}

.hide {
	display: none;
}

.active {
	text-decoration: underline;
}

a {
	color: white;
}

a:hover {
	color: red;
}

.input-group {
	width: 55%;
	margin: auto;
}

/*profile
bar*/
.sidebar-profile-info{
	text-align: center;
  max-width: 350px;
  background: #f2f2f2;
  border-radius: 6px;
  box-shadow: 0 4px 15px #E6E6E6;
  /* margin: 30px 0px 30px 15px; */
  /* margin-right: auto; */
  /* width: auto; */
  float: none;
	margin: 2rem;
	margin-top: 6rem;
}

#userinfo{
	position: fixed;
	background-color: white;
	box-shadow: 0px 4px 15px #BEBEBE;

}

#profpic{
  width: 10rem;
  height: auto;
  margin-top: 40px;
}

#socialMedia li{
	display: inline;
	border:	none;
	outline: none;
	text-align: center;
}

.fa:hover {
    opacity: 0.7;
		color: white;
}

.fa {
  color: gray;
	font-size: 30px;
	width: 30px;
	text-decoration: none;
	border-radius: 20%;
	letter-spacing: 50px;
	padding-bottom: 30px;

}

.sidebar-profile-info ul.skills-list li{
  font-size:13px;
  line-height: 8px;
  color: #656565;
  display: inline-block;
  padding: 10px 10px;
  border: 1px solid #C5C5C5;
  border-radius: 10px;
	/* text-align: center; */
}

ul.skills-list{
	padding: 0px;
}

.skills-list{
	text-align: center;
}

#info{
	display: inline-block;
}

/* img{
  width: 300px;
} */

#profileProjects {
	display: inline-block;
	overflow-x: scroll;
	overflow-y: scroll;
}

#profile-content {
	margin-top: 1rem;
}

.img-responsive{
	width: 100%;
	height: auto;
	margin-right: 0.2rem;
	margin-bottom: 0.5rem;
	object-fit: cover;
}

.project1{
	padding-top: 50px;
}

.btn-sm-message{
	background-color: #D3F0D8;
	border: none;
	color: #656565;
	border-radius: 12px;
	padding: 8px;
	box-shadow: 1px 2px 10px #BBBBBB;
}

.btn-sm-follow{
	background-color: #DCF4FF;
	border: none;
	color: #656565;
	border-radius: 12px;
	padding: 8px;
	box-shadow: 1px 2px 10px #D4D4D4;
}

button{
	margin-bottom: 10px;
}

.username{
	font-size: 24px;
	font-weight: bold;
	padding-top: 20px;
}

.bio{
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 20px;
}

h4{
	font-size: 18px;
	padding-top: 10px;
	font-family: Lato;
}

.avatar{
	width: 30px;
	margin-right: 10px;
}

.design-pics{
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 600px;
	height: auto;
	border-style: solid;
	border-color: white;
	margin-right: 10px;
	border-width: 10px;
	box-shadow: 0px 0px 20px #E6E6E6;

}


.projectInfo {
  display: none
}

/* .project{
	border-style: solid;
	border-color: white;
	margin-right: 10px;
	border-width: 10px;
	box-shadow: 0px 0px 20px #E6E6E6;
} */

.modal .btn {
	margin-left: 10px;
	float: right;
}

#likeButton:hover {
	color: red;
}

.fas .fa-heart {
	color: red;
}

#innerNav {
	margin-top: 6rem;
	overflow: hidden;
	padding-left: 0;
	margin-bottom: 0;
	width: 100%;
	text-align: center;
	position: relative;
}
#innerNav li {
	display: inline;
	border: none;
	color: gray;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	/*transition: 0.3s;*/
	font-size: 17px;
}
.hidden {
	display: none;
}

#social{
	padding: 0px;
}
